<!--Dropdown to sort by price-->
<form [formGroup]="sortFilterForm">
  <mat-form-field appearance="fill">
    <mat-label>{{ labels.TARIF.ACTIONS.SORT }}</mat-label>
    <mat-select formControlName="sortOrder">
      <mat-option value="asc">Ascending</mat-option>
      <mat-option value="desc">Descending</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<!-- List of all tariffs which ayre displayed in a mat-card -->
<span *ngFor="let tariff of tariffs" class="p-1">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> {{ tariff.supplier }}</mat-card-title>
      <mat-card-subtitle>{{ tariff.name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <span>
        <span>
          {{ tariff.description }}
        </span>
        <span> {{ labels.TARIF.PROPERTIES.PRICE }}: {{ tariff.price }} </span>
      </span>
      <button mat-raised-button (click)="addToCompare(tariff)">
        {{ labels.TARIF.ACTIONS.COMPARE }}
      </button>
    </mat-card-actions>
  </mat-card>
</span>
