<!--
  MatList used to display a list of tariffs that are currently selected for comparison.
  The list is only displayed if there is at least one tariff in the `tariffComparisonList` array.
-->

<span class="d-flex justify-content-between align-items-baseline">
  <h2>
    {{ labels.HEADERS.COMPARISON_LIST_TITLE }}
  </h2>

  <!-- Button to navigate to the comparison page -->
  <button
    mat-raised-button
    [routerLink]="['/compare']"
    [disabled]="tariffService.tariffComparisonList.length === 0"
  >
    {{ labels.COMPONENTS.TARIFF.COMPARISON_LIST.PAGE_NAVIGATION }}
  </button>
</span>

<mat-list
  role="list"
  *ngIf="tariffService.tariffComparisonList.length > 0; else emptyTemplate"
>
  <span *ngFor="let item of tariffService.tariffComparisonList">
    <mat-list-item role="listitem" class="justify-content-between">
      <div class="p-2">
        <span> {{ item.name }} - {{ item.supplier }} </span>

        <!-- Button to remove the tariff from the comparison list -->
        <button mat-raised-button (click)="removeFromCompare(item)">
          {{ labels.BUTTONS.REMOVE }}
        </button>
      </div>
    </mat-list-item>
  </span>
</mat-list>

<ng-template #emptyTemplate> {{ labels.NO_DATA }} </ng-template>
