<mat-list role="list" *ngIf="tariffService.tariffComparisonList.length > 0">
  <span>
    <h2>{{ labels.TARIF.COMPARISON_LIST.TITLE }}</h2>
    <button mat-raised-button [routerLink]="['/compare']" class="mt-3">
      {{ labels.TARIF.COMPARISON_LIST.PAGE_NAVIGATION }}
    </button>
  </span>
  <span *ngFor="let item of tariffService.tariffComparisonList">
    <mat-list-item role="listitem" class="justify-content-between">
      <span> {{ item.name }} - {{ item.supplier }} </span>
      <button mat-raised-button (click)="removeFromCompare(item)">
        {{ labels.BUTTON.REMOVE }}
      </button>
    </mat-list-item>
  </span>
</mat-list>
